//////////////////////// balancy.html ////////////////////////
.category-page {
  padding: 110px 0 110px 30px;
  &__title-h2 {
    font-size: 35px;
    line-height: 142.9%;
    margin-bottom: 120px;
    &::before{
      content:'';
      width: 2px;
      height: 34px;
      background: #372821;
      position: absolute;
      top: -88%;
      left: 7%;
    }
    &::after{
      content:'';
      width: 67px;
      height: 2px;
      background: #372821;
      position: absolute;
      bottom: 42%;
      right: -51.5%;
    }
  }
}

.category-products-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 50px 65px;
}