html {
  box-sizing: border-box;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #fff;
  font-size: 18px;
  @extend %black;
  @extend %GothamPro-Regular;
}

a {
  text-decoration: none;
  color: inherit;
}
p {
  line-height: 216.9%;
}

ul, 
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li > a:after { 
  content: url(../images/list-decoration.svg);
  position: relative;
  top: -4px;
  right: -23px;
}

li > a:only-child:after { 
  content: ''; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
 margin: 0;
 font-size: inherit;
}

h1 {
  font-size: 59px;
  @extend %GothamPro-Black;
  line-height: 141.4%;
}

h2 {
  font-size: 59px;
  @extend %GothamPro-Black;
  line-height: 125.4%;
  position: relative;
  display: inline-block;
  &::before{
    content:'';
    width: 2px;
    height: 67px;
    background: #372821;
    position: absolute;
    top: -113%;
    left: 12%;
  }
  &::after{
    content:'';
    width: 67px;
    height: 2px;
    background: #372821;
    position: absolute;
    bottom: 38%;
    right: -18.5%;
  }
}

.subtitle-h2 {
  float: right;
  font-size: 20px;
  @extend %GothamPro-Bold;
  position: relative;
  margin-right: 60px;
  &:before {
    content:url(../images/title-h2-decoraion.svg);
    position: absolute;
    z-index: -1;
    top: -30px;
    right: 30px;
  }
  & span {
    margin-right: 51px;
  }
}

.container {
  max-width: 1223px;
  margin: 0 auto;
  padding: 0 30px;
}

.btn {
  padding: 17px 64px;
  background-color:#fff;
  border: 1px solid #372821;
  cursor: pointer;
  position: relative;
  box-shadow: 18px 12px 0 #F2F2F2;
  transition: all 0.5s;
  &::before {
    content:"";
    position: absolute;
    width: 39px;
    height: 1px;
    left: 14px;
    top: 53.5px;
    background-color: #fff;
  }
  &:hover::before  {
    background-color:#F2F2F2;
  }
  &:focus {
    outline: none;
  }
  &:hover {
    outline: none;
    box-shadow: 0px 0px 0 #F2F2F2;
    background-color:#F2F2F2;
  }
}


.breadcrumb {
  background-image: url(../images/breadcrumb-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  height: 183px;
  &__inner {
    max-width: 1223px;
    margin: 0 auto;
    padding: 69px 0px 56px 30px;
  }
  &__list li {
    display: inline;
    padding-right: 27px;
  }
  &__item {
    font-size: 20px;
    line-height: 24px;   
    @extend %Montserrat-Regular;
    &::before {
      content: "/";
      position: relative;
      right: 8px;
    }
    &_main {
      font-size: 45px;
      line-height: 125.4%;
      @extend %GothamPro-Black;
    }
  }
}
