//////////////////////// GLOBAL ////////////////////////
@media (max-width: 1599px) {
  h1 {
    font-size: 40px;
  }
}

@media (max-width: 1024px) {
  h2 {
    font-size: 50px;
    &::after {
      display: none;
    }
    &::before{
      height: 37px;
      top: -64%;
      left: 13%
    }
  }
}

@media (max-width: 670px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 30px;
    &::before{
      top: -113%;
    }
  }
}

@media (max-width: 328px) {
  h2 {
    &::before{
      top: -103%;
    }
  }
}

@media (max-width: 360px) {
  .container  {
    padding: 0 15px;
  }
}



//////////////////////// HEADER ////////////////////////
@media (max-width: 1400px) {
  .header {
    &__cart {
      margin-left: 0;
    }
  }
}

@media (max-width: 1110px) {
  .header {
    &__inner {
      padding-top: 46px;
    }
    &__cart {
      display: none;
    }
    &__search {
      display: none;
    }
    &__logo {
      margin-left: 43px;
    }
  }
  .menu {
    display: none;
    &__hamburger-btn {
      position: relative;
      width: 55px;
      height: 55px;
      display: block;
      cursor: pointer;
      background-color: #372821;
      margin-right: 23px;
      &::after {
        content: '';
        top: 34px;
        right: 14px;
        height: 1px;
        width: 14px;
        position: absolute;
        background: #fff;
      }
      &::before {
        content: '';
        top: 19px;
        right: 14px;
        height: 1px;
        width: 27px;
        position: absolute;
        background: #fff;
      }
      & span {
        top: 27px;
        right: 14px;
        height: 1px;
        width: 22px;
        position: absolute;
        background: #fff;
      }
      &.open-menu span {
        opacity:0; 
        transition: 0.5s; 
      }
      &.open-menu:before {
        transform: rotate(38deg);
        top: 27px;
        transition: 0.4s;
        width: 27px;
      }
      &.open-menu:after {
        transform: rotate(-38deg);
        top: 27px;
        transition: 0.4s;
        width: 27px;
      }
    }
  }
}

@media (max-width: 1110px) {
  .header__phone {
    display: none;
  }
}


//////////////////////// MAIN section ////////////////////////
@media (max-width: 1599px) {
  .first-screen  {
    &__container {
      max-width: 1300px;
    }
    &__inner {
      left: 125px;
      top: 177px;
    }
    &__title h1 {
      margin-bottom: 45px;
    }
    &__title h1::before {
      top: -72px;
      left: 41px;
    }
    &__title h1::after {
      width: 100px;
      bottom: 25px;
      right: -35px;
    }
  }
}

@media (max-width: 1350px) {
  .first-screen__inner {
    left: 26px;
  }
}

@media (max-width: 1250px) {
  .first-screen {
    &__container {
      align-items: center;
    }
    &__inner {
      position: inherit;
    }
  }
}

@media (max-width: 1180px) {
  .first-screen  {
    &__container {
      flex-direction: column;
      justify-content: center;
      max-width: 900px;
    }
    &__inner {
      padding: 126px 0 20px 0px;
    }
    &__btn {
      display: none;
    }
  }
}

@media (max-width: 1110px) {
  .main {
    padding-top: 70px;
  }
}

@media (max-width: 670px) {
  .first-screen {
    padding: 0 0 120px 30px;
      &__title {
        max-width: 279px;
      }
      &__title h1{
        margin-bottom: 15px;
      }
      &__title h1::before {
        top: -43px;
        left: 32px;
        height: 37px;
      }
      &__title h1::after {
        width: 37px;
        bottom: 19px;
        left: 135px;
      }
   }
}

@media (max-width: 500px) {
  .first-screen {
    &__container {
      align-items: flex-start;
    }
  }
}

//////////////////////// 1-st section ////////////////////////
@media (max-width: 1230px) {
  .product-lines-list {
    grid-template-columns: 290px 290px 290px;
    grid-template-rows: 162px 162px 162px;
    gap: 21px 24px;
    justify-content: center;
    &__item-title {
      margin: 21px 19px 0 20px;
    }

  }
}

@media (max-width: 960px) {
  .categories {
    padding-bottom: 120px;
    &__title-h2 {
      margin-bottom: 50px;
    }
  }
  .subtitle-h2 {
    display: none;
  }
  .product-lines-list .spicy {
    display: none;
  }
  .product-lines-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &__item {
      height: 162px;
      min-width: 290px;
      margin: 10px;
    }
  }
}


//////////////////////// 3-d section ////////////////////////
@media (max-width: 1420px) {
  .top-category__title-h2 {
    flex-direction: row;
  }
}

@media (max-width: 1300px) {
  .top-products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .grid-item-a::after {
    width: 21%;
    left: -43px;
    bottom: 34px;
  }
}

@media (max-width: 960px) {
  .top-category__title-h2 {
    margin-bottom: 50px;
  }
}

@media (max-width: 730px) {
  .top-products-list__item {
    margin-bottom: 25px;
  }
  .top-products-list__item-image_big {
    height: 182px;
    width: 293px;
    & img {
      height: 225px;
    }
  }
  .top-products-list__item-btn-all-products {
    left: 59px;
    bottom: 12px;
  }
  .top-products-list__item-image-title {
    margin: 20px 0px 0 35px;
  }
  .grid-item-a::before {
    height: 52.5%;
    left: -21px;
    top: 96px;
  }
  .grid-item-a::after {
    width: 16%;
    left: -21px;
    bottom: 40px;
  }
}

//////////////////////// FOOTER ////////////////////////

@media (max-width: 1024px) {
  .footer {
    background-color: #372821;
    padding-bottom: 0;
    &__inner {
    flex-direction: column;
    align-items: center;
    }
    &__info {
      color: #FFFFFF;
      margin-top: 70px;
      &-social-links-item {
        border: 2px solid #FFFFFF;
        & img {
          background-color: #FFFFFF;
          width: 30px;
          height: 30px;
          border-radius: 6px;
        }
        &::before{
          background-color: #372821;
        }
      }
    }
    &__nav {
      &-title {
        color: #FFFFFF;
        margin-top: 50px;
      }
      &-links a:hover{
        color: #FFFFFF;
      }
    }
  }
  .instagram-logo {
    background: url(../images/instagram-logo-white.svg) no-repeat center;
   }
   
   .twitter-logo {
     background: url(../images/twitter-logo-white.svg) no-repeat center;
   }
   
   .facebook-logo {
     background: url(../images/facebook-logo-white.svg) no-repeat center;
   }
}
