@import "fonts";
@import "vars";
@import "libs";
@import "global";


//////////////////////// HEADER ////////////////////////
#header {
  transition: top 0.3s;
}
.header {
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: #fff;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 16px;
    max-width: 1012px;
    margin: 0 auto;
  }
  &__cart {
    background-image: url(../images/cart.svg);
    background-repeat: no-repeat;
    width: 19px;
    height: 20px;
    cursor: pointer;
    margin-left: 8px;
  }
  &__search { 
    position: relative;
    margin-left: -60px;
    &::after {
      content: url(../images/search.svg);
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      position: absolute;
      left: -40px;
      top: 9px;
    }
  }
  & input {
    width: 136px;
    height: 30px;
    background: #FFFFFF;
    border-bottom: 1px solid #888888;
    border-top: none;
    border-right: none;
    border-left: none;
    font-size: 14px;
    line-height: 15px;
    padding: 4px 10px ;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
  &__logo {
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    width: 62px;
    height: 77px;
  }
  &__phone {
    background-image: url(../images/phone.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    white-space: nowrap;
    padding-left: 41px;
    line-height: 22px;
    @extend %Montserrat-Regular;
  }
}

.menu {
  background: #F2EFEB;
  @extend %Montserrat-Regular;
  &__list {
    display: flex;
    justify-content: center;
    &-item {
      border-top: 3px solid #F2EFEB;
      max-width: 210px;
      & a {
        padding: 20px 50px;
        display: inline-block;
      }
      &:hover {
        border-top: 3px solid #372821;
        transition: 0.5s;
      }
    }
  }
  &__sublist {
    position: absolute;
    background-color: #fff;
    top: 60px;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    min-width: 208px;
    display: none;
    letter-spacing: 0.02rem;
    & li {
      &:hover{
        background: #F8F8F8;
        @extend %Montserrat-Bold;
      }
      & a {
        display: block;
        padding: 20px 0 20px 50px;
      }
    }
  }
  &__sublist-link {
    position: relative;
    display: inline-block;
    &:hover .menu__sublist {
      display: block;
    }
    &:hover {
      background: #fff;
    }
  }
}


//////////////////////// MAIN section ////////////////////////
.main {
  padding-top: 130px;
}
.first-screen {
  &__container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
  }
  &__image {
    width: 80%;
  }
  &__inner {
    max-width: 548px;
    padding-top: 244px;
    padding-bottom: 94px;
    position: absolute;
    left: 0;
  }
  &__title h1 {
    margin-bottom: 82px;
    position: relative;
    &::after {
      content:'';
      width: 168px;
      height: 2px;
      background: #372821;
      position: absolute;
      bottom: 14%;
      left: 50%;
    }
    &::before {
      content:'';
      width: 2px;
      height: 67px;
      background: #372821;
      position: absolute;
      top: -40%;
      left: 11%;
    }
  }
  &__btn {
    &::after{
      content: url(../images/arrow-down.svg);
      position: absolute;
      left: 25px;
      top: 24px;
    }
  }
}



//////////////////////// 1-st section ////////////////////////
.categories {
  padding-top: 207px;
  padding-bottom: 149px;
  &__title-h2 {
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom: 126px;
  }
}

.product-lines-list {
  display: grid;
  grid-template-columns: 352px 352px 352px;
  grid-template-rows: 162px 162px 162px;
  gap: 58px 53px;
  grid-template-areas:
    ". . spicy"
    ". . spicy"
    ". . .";
  & .spicy {
    grid-area: spicy;
    &:after {
      content: '';
      background-color: #F3F0EC;
    }
  }
  &__item {
    border: 0.4px solid #EDEDED;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    position: relative;
    overflow: hidden; 
    &:after {
      content: '';
      position: absolute; 
      top: 100%; 
      left: 0px;
      width: 100%;
      height: 100%;
      background-image: url(../images/product-bg.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 120%;
      transition: 0.5s;
      z-index: -1;
    }
    &:hover:after{    
       top: 0px;
     }
    &-title {
      margin: 25px 33px 0 35px;
      @extend %Montserrat-Bold;
      position: relative;
      height: 22px;
      transition: all 0.6s;
      &:after {
        content:'';
        left: 0;
        bottom: -6px;
        width: 0;
        height: 2px;
        background: #372821;
        position: absolute;
        transition: all 0.3s;
      }
      &:hover {
        &:after {
            width: 100%;
            left: 0;
            background: #372821;
        }
    }
    }
    &-image {
      position: relative;
      top: 10px;
      &:hover {
        top: -20px;
        transition: all 0.6s;  
      }
    }
  }  
}
//////////////////////// 2-d section ////////////////////////



//////////////////////// 3-d section ////////////////////////
.top-category {
  &__title-h2 {
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-bottom: 126px;
  }
}


.grid-item-a { 
  grid-area: grid-item-a;
  position: relative;
  &::before {
    content: '';
    height: 86.3%;
    width: 1px;
    background-color: #372821;
    position: absolute;
    left: -44px;
    top: 65px;
  }
  &::after {
    content: '';
    height: 1px;
    width: 33%;
    background-color: #372821;
    position: absolute;
    left: -43px;
    bottom: 35px;
  }
}
.grid-item-b {
  grid-area: grid-item-b;
}
.grid-item-d {
  grid-area: grid-item-d;
}
.grid-item-f {
  grid-area: grid-item-f;
}
.grid-item-c {
  grid-area: grid-item-c;
}


.top-products-list  {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 50px 65px;
  grid-template-areas:
    "grid-item-a grid-item-b grid-item-c"
    "grid-item-a grid-item-b grid-item-c"
    "grid-item-a grid-item-d grid-item-f"
    ". grid-item-d grid-item-f";
  &__item {
    &-image {
      border: 1px solid #EDEDED;
      text-align: center;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      &::before {
        content: url(../images/eye.svg);
        position: absolute;
        right: 0;
        top: 0;
        opacity: 0;
      } 
      &:after {
        content: '';
        position: absolute; 
        top: 100%; 
        left: 0px;
        width: 100%;
        height: 100%;
        background-image: url(../images/top-product-bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 120%;
        transition: 0.5s;
        z-index: -1;
      }
      &:hover:after {    
         top: 0px;
      }
      &:hover::before {
        transition: 1.5s;    
        opacity: 1;
      } 
    }
    &-info {
      display: flex;
      justify-content: space-between;
      padding-top: 25px;
      padding-bottom: 25px;
    }
    &-title {
      text-transform: uppercase;
      font-size: 20px;
      line-height: 141.4%;
      letter-spacing: 0.03em;
    }
    &-price {
      text-transform: uppercase;
      font-size: 20px;
      line-height: 141.4%;
      letter-spacing: 0.03em;
    }
    &-btn {
      &::after  {
        content: url(../images/cart.svg);
        position: absolute;
        left: 23px;
        top: 44px;
      }
    }
    &-btn-all-products {
      border-left: none;
      position: relative;
      left: 132px;
      bottom: 7px;
      &::after {
        content: url(../images/arrow-right.svg);
        position: absolute;
        left: -11px;
        top: 14px;
      }
      &::before {
        content: none;
      }
    }
  }
}



//////////////////////// FOOTER ////////////////////////
.footer {
  padding-top: 136px;
  padding-bottom: 50px;
  &__inner {
    display: flex;
  }
  &__info {
    flex-basis: 38%;
    &-title {
      font-size: 50px;
      line-height: 61px;
      @extend %Montserrat-Bold;
      margin-bottom: 22px;
      position: relative;
      &::after {
        content:'';
        width: 67px;
        height: 2px;
        background: #372821;
        position: absolute;
        bottom: 48%;
        left: 50%;
      }
    }
    &-subtitle {
      font-size: 20px;
      line-height: 163.9%;
      letter-spacing: 0.03em;
      @extend %GothamPro-Regular;
      margin-bottom: 37px;
      max-width: 277px;
    }
    &-social-links {
      display: flex;
      align-items: center;
      &-item {
        padding: 22px 22px 17px 22px;
        border: 2px solid #372821;
        margin-right: 31px;
        position: relative;
        cursor: pointer;
        &:last-child {
          margin-right: 0;
        }
        & img {
          width: 25px;
          height: 25px;
        }
        &::before{
          content: '';
          position: absolute;
          width: 30px;
          height: 2px;
          left: 14px;
          top: 68px;
          background-color: #fff;
        }
      }
    }
  }
  &__nav {
    flex-basis: 62%;
    &-title  {
      font-size: 20px;
      line-height: 163.9%;
      letter-spacing: 0.03em;
      @extend %GothamPro-Bold;
      margin-bottom: 34px;
      margin-top: 22px;
    }
    &-links {
      display: flex;
      margin-bottom: 50px;
      color: #969696;
      @extend %Montserrat-Regular;
      justify-content: space-between;
      & a:hover  {
        @extend %black;
      }
    }
  }
}